body{
	margin: 0;
	padding: 0;
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
   font-size: 100%;
   background:#fff; 
}

a{
	color: #fff
}

h2{
	color: #fff
}

p{
	color: #fff
}

.left{
	text-align: left;
}

.middle{
	text-align: center;
}

.right{
	text-align: right;
}

.hr{
	border-bottom: 1px solid #000;
	padding-bottom: 2px
}

.main{
	margin: 0px;
	
	background: url(../images/header_img.jpg)  ;
	width: 100%;
	min-height: 580px;
}

/*       header       */

.header { 
	margin: 0px;
	padding: 10px 0px 10px 0px ;
	color: #fff;
	background: #161e2c
}

.title a{
	text-align: left;
	color: #fff;
	font-size: 2.8em;
	font-weight: 600; 
	padding: 0	;
	line-height: 1.2em
}

.title a:hover{
	text-decoration: none;
	color: #fff
}

.menu{
	margin: 0px;
	padding: 0px;
	text-align:left;
}

.menu a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.6em
}

.menu ul li{
	display: inline;
	list-style: none;
	padding-right: 0px;
}

.menu ul li a:hover{
	background: none;
	color: #fff
}


/* */
.noti{
	text-align: right;
	padding-top:13px
}

.notibutton{
	background: none;
	outline: none;
	border: none;

}

.notiexec {
	text-align: center;
	text-decoration: underline;
	color: #1b96da

}

.inline{
	display: inline;
}

.dropdown-menu li{

}


/* mainpage */
.main1{
	margin: 0px;
	padding: 0px;
	color:#fff;
	

}

.main1 h2{
	font-weight: 600;
	font-size:3em;
}

.main1 p{
	font-size: 1.7em;
	font-family: fantasy;
}

.form1 input[type="text"] {
	outline: none;
	padding: 8px 15px;
	color: #000;
	background: #fff;
	border: blue;
	border-radius-left: 4px;
	width: 60.5%;
	line-height: 1.5em;
}
.form1 input[type="submit"] {
	background:#f77d0e;
	padding:8px 14px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.5em;
	outline:none;
	font-weight: 600
}

.timesch{
	
	width: 100%;
	height: 400px;
	background-size: cover;
}  

.dash{
	background: #f2f2f2;
	height: 100%;
	padding: 10px 0px;

}

.grouplist{
	margin: 0px;
	padding: 0px;
	height: 100%
}

.grouplist ul{
	padding: 0px;
	margin: 0px;
	margin-top: 10px
}

.grouplist ul li{
	display: block;
	list-style: none;
	padding: 6px 10px
}

.grouplist ul li a{
	text-decoration: none;
	color: #4d494b;

	font-size: 1.4em;
	font-weight: bold;
}

.grouplist ul li a:hover{
	text-decoration: none;	
}

.grouplist1{

	width: 100%
}

.grouplist2{

	width: 100%;
}

.grouplist2 a:hover {
	text-decoration: none;

}
.addgroup{
	text-decoration: none;
	color: #4d494b;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	width: 150px;
	margin: 2px;
	margin-bottom: 10px;
	
}

.addgroup1{
	text-decoration: none;
	color: #4d494b;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	width: 150px;
	margin: 2px;
	margin-bottom: 10px;
	border:2px solid #000;
	line-height: 2.9em
}

.modal-content{
	color: #000
}

.dashboard{
	padding: 20px;
	padding-left: 40px;

	
	height: 100%	
}


.user_cal a{
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
	cursor: pointer;
}

.user_cal a p{
	font-size: 1.4em;
	color: #000
}
.user_cal a:hover{
	text-decoration: none;
	color: #000
}

.user_task{
	color: #000;
	font-size: 1.3em;
	
}

.padd a{
	padding-left:10px;
	padding-right: 10px

}

/*       footer      */
.footer{
	margin: 0px;
	padding: 0px;
	background: #161e2c;
	width: 100%;
	min-height: 74px;
	text-align: left;
	padding-top: 23px;
	
	bottom:0px;
}

.foot{
	padding: 0px
}

.foot ul{
	margin: 0;
	padding: 0
}
.foot ul li{
	display: inline;
	list-style: none;
	padding: 20px;
	padding-left: 0px
}

.foot ul li a{
	color: #fff;
	font-size: 1.5em
}

.foot ul li a:hover{

	color: #fff
}

.social{
	text-align: right;
}

.social ul li{
	display: inline;
	color: #fff;
	list-style: none;
	padding: 24px;
	padding-right: 0px
}

.social ul li a{
	color: #fff
}


/* contact */

.contact{
	margin-top: 15px;

}

.contact p{
	margin-top: 15px;
	text-align: center;
	font-size: 1.3em
}

.contact a{
	color: blue
}



.user_setting{
	border-bottom: 1px solid #f2f2f2;
	min-height: 300px
}


.user_setting h2{
	padding: 0;
	margin: 0
}


.switch{
	position: relative;
	width: 20px;
	
}
.check{
	display: none;
}
.lab{
	cursor: pointer;
	background: #f5f5f5;
	border: 1px solid #000;
	display: block;
	height: 30px;
	box-sizing: border-box;
	transition: background 0.3s ease-in-out
}
.lab:before{
	content: "";
	height: 28.5px;
	width: 50%;
	background: #cc21d1;
	border: 1px solid #000;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out
}
.check:checked + .lab{
	background: #ffffcc;
	content: "ON";
	color: #000
}
.check:checked + .lab:before{
	right: 0px;
}

/* domain page */
.user_list{
	color: #fff;
	font-size: 1.6em
}

.user_list a{
	color: #fff
}


.user_list table, th, td ,tr{
    border: 0px;
    text-align: left;
}

th {
    padding: 5px;
    height: 40px;
    text-align: left;
}

.groups{
	padding: 40px
}

.bold{
	font-size: 1.7em;
	font-weight: bolder;
}

/* about us page */
